<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1>Dice Sums</h1>
      <img src="/images/dice-sums.png" alt"dice-sums">
      <p>The Classic Dice Sums Game</p>
    </div>
  </div>
</div>
