
<nav class="navbar navbar-toggleable-md">
  <dt-hamburger-menu>

  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> -->
  <ul>
    <li>
      <a ui-sref="photosIndex" ng-if="main.isAuthenticated()">
        Gallery
      </a>
    </li>
    <li>
      <a ui-sref="photosNew" ng-if="main.isAuthenticated()">
        Add Photo
      </a>
    </li>
    <li>
      <a ui-sref="login" ng-if="!main.isAuthenticated()">
        Login
      </a>
    </li>
    <li>
      <a ui-sref="register" ng-if="!main.isAuthenticated()">
        Register
      </a>
    </li>
    <li>
      <a href="#" ng-click="main.logout()" ng-if="main.isAuthenticated()">
        Logout
      </a>
    </li>
  </ul>
</dt-hamburger-menu>
</nav>
