*{
  border-radius: 8px;
}
.img {
  width: 100%;
  margin: 10px 0;
}
.map {
  height: 400px;
  width: 100%;
  display: inline-block;

}

.btn-success, .map, .img{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
