form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45vh;
  width: 100%;
  div.row{
    width: 100%;
    form{
      justify-content: space-around;

    }
  }
  input.submit{
    background-color: rgb(176, 201, 210);
  }
  input.input, select{
    color: rgb(204, 204, 204);
    text-shadow: none;
  }
  select#country{
    text-align: center;
  }
}
input, select#country {
  width: 100%;
  height: 5vh;
  text-align: center;
  border-radius: 4px;
}

label, p{
  margin-bottom: auto;
}
select option{
  background-color: rgb(176, 201, 210);
}

.warning{
  background-color: rgba(255, 0, 0, 0.2);
  color: rgba(255, 0, 0, 1);
  padding: 5px;
  border: 2px solid rgba(255, 0, 0, 1);
  border-radius: 4px;
  &input:active{
    @extend .warning;
  }
}
