<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>Music Library</strong>
    </a>
    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="navMenubd-example" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item " href="/books">
        Works
      </a>
      <a class="navbar-item " href="/works/new">
        New Work
      </a>
    </div>
  </div>
</nav>
