.row{
  margin: 0;
}
img{
  max-width: 100%;
  height: auto;
}
.row.show{
  height: 90vh;
  #info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  img{
    height: 500px;
  }
}
.show-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  #info{
    h4, h5, p{
      width: 100%;
    }
  }
}
